.container-style-two{
    padding-bottom: 73px;
}
.text-containerNext {
    color: #0360D9;
    font-size: 40px;
    font-weight: 600;
    padding-top: 60px;
}

.text-para{
    margin-left: 158px;
    margin-right: 158px;
    color:#FFFFFF;

}
.container-card{
    margin-top: 66px;
}
.container-card-two{
    margin-top: 18px;
}
