.login-container{
    background-color: #0360D9;
    height: 100vh;
    overflow: auto;
}
.login-card{
    width: 60%;
    height: 520px;
    border-radius: 0px;
    margin: auto;
    margin-top: 56px;
}
.login-logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.login-text{
    font-size: 24px;
    font-weight: 600;
    margin-left: 13rem;
    margin-top: 2rem;
}
.form-email, .form-password{
    margin-left: auto;
    margin-right: auto;
}
.btn-login{
    width: 48%;
    margin-left: 17.3rem;
    margin-right: auto;
    border-radius: 8px;
    margin-top: 24px;
}
.forgot-password{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 13rem;
}
.btn-login-dark{
    width: 38%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-top: 8px;
}
.signUp-here{
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}